/*------------------------------------*\
    VARIABLES
\*------------------------------------*/


$col-str:     5; //The strength of a color's lightness or darkness

// Colors
$medblue: #336699;
$lightblue: #86BBD8;
$darkblue: #2F4858;
$darkgreen: #7CCC6F;
$lightgreen: #DAF7DC;

//Different Shades


// Theme



// Other
$easy-ease:   all .15s ease-in-out;    //Quick easing
$gutter:      15px;                    //For spacing and gaps (keeps it consistent)



