/*------------------------------------*\
    GLOBAL 
\*------------------------------------*/
.darkgreen {
  color: $darkgreen;
}

section {
  margin: 5em 0;
  p {
    margin-top: 3em;
    margin-bottom: 2em;
  }
}

.margin-top {
  margin-top: 2em;
}

.divider {
  border-top: 1px solid #ccc;
}

.divider-blue {
  background-color: $medblue;
  margin: 2.5em auto;
  width: 100px;
  height: 3px;
}

.divider-green {
  background-color: $lightgreen;
  margin: 2.5em auto;
  width: 100px;
  height: 3px;
}

.blue-line {
  height: 8px;
  background-color: #86BBD8;
}