/*------------------------------------*\
    GLOBAL NAVIGATION
\*------------------------------------*/
.navbar {
  margin-bottom: 0;
  width: 100%;
  border-radius: 0;
  z-index: 999;
}

.navbar-default {
  position: fixed;
  border: 0;
  background-color: #2F4858;
  box-shadow: 0 1px 5px #888888;
  top: 0;
  .navbar-brand {
    img {
      width: 100%;
      max-width: 140px;
      position: absolute;
      top: 0;
    }
  }
  .nav > li:last-child > a {
    border: 2px solid $lightgreen;
    padding: 5px 15px;
    margin-top: 8px;
    margin-left: 10px;
    @include trans(all 0.3s linear);
    &:hover {
      color: #fff;
      background: rgba(218,247,220,0.65);
    }
  }
  .navbar-nav {
    >li {
      font-size: inherit;
      >a {
        color: #DAF7DC;
        &:hover {
          color: #7CCC6F;
        }
      } // a
    } // li
  } // .navbar-nav
}

.navbar-inverse {
  position: absolute;
  border: 0;
  background-color: transparent;
  .nav > li:last-child > a {
    border: 2px solid #fff;
    padding: 5px 15px;
    margin-top: 8px;
    margin-left: 10px;
    @include trans(all 0.3s linear);
    &:hover {
      color: #fff;
      background: rgba(0,0,0,0.25);
    }
  }
  .navbar-nav {
    >li {
      font-size: inherit;
      >a {
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        &:hover {
          color: $darkgreen;
        }
        &:focus {
          color: #000;
        }
      } // a
    } // li
  } // .navbar-nav
}