/*------------------------------------*\
    GLOBAL NAVIGATION
\*------------------------------------*/
.navbar {
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  border-radius: 0;
}

.navbar-default {
  border: 0;
  background-color: #2F4858;
  .navbar-brand {
    img {
      width: 100%;
      max-width: 140px;
      position: absolute;
      top: 0;
    }
  }
  .navbar-nav {
    >li {
      >a {
        color: #DAF7DC;
        &:hover {
          color: #7CCC6F;
        }
      }
    }
  }
}